<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @car do |f| %>

        <%= f.input :placa %>
        <%= f.input :color %>
        <%= f.input :modelo %>
        <%= f.input :propietario %>

        <%= f.button :submit %>
    <% end %>
  </div>
</div>